{% extends 'base.html' %}

{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

{% load bootstrap_icons %}

{% block content %}

{% load static %}
 <!-- ======= Hero Section ======= -->

 
 <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title mt-5">
        <h2>Todolist</h2>
        <div class="container bg-light">
            <div class="row my-5">
                <div class="col-md-3"></div>
                <div class="col-md-6 p-4">
                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">Update</button>
                        {% endbuttons %}
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
   
    </div>
    </div>
  </section><!-- End About Us Section -->

 

  {% endblock content %}
