

{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

{% load bootstrap_icons %}

{% block content %}

{% load static %}
 <!-- ======= Hero Section ======= -->
 <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title mt-5">
        <h2>Todolist</h2>
    <div class="table-responsive-md"></div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">TITLE</th>
                <th scope="col">DESCRIPTION</th>

                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                

              </tr>
            </thead>
            <tbody>

                {% for item in items %}
              <tr>
                
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                
                <td>  {% if item.completed == True %} {% bs_icon 'check-all' color='green' size='1.5em' %} {% else  %} {% bs_icon 'app' color='blue' size='1.5em' %} {% endif%}</td>
               
                <td><a href="{% url 'update_task' item.id %}">{% bs_icon 'pencil-square' color='blue' size='1.3em' %}</a></i></td>
                {{item.user}}
              </tr>
            {% endfor %}
                
            </tbody>
          </table>
      </div>
    </div>
    </div>
  </section><!-- End About Us Section -->


  {% endblock content %}